# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
sites/*/files
sites/*/private

# Ignore default files
robots.txt
favicon.ico
error_log

# Ignore themes folder
sites/all/themes

# Odds and sods
400.shtml
401.shtml
403.shtml
404.shtml
500.php
500.shtml
Vidorian_Facebook.jpg
default.html
keys