# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
sites/*/files
sites/*/private

# Ignore default files
robots.txt
favicon.ico
error_log

# Ignore themes folder
sites/all/themes
